@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist-Bold";
  src: url("./assets/fonts/Geist-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist-Medium";
  src: url("./assets/fonts/Geist-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist-ExtraBold";
  src: url("./assets/fonts/Geist-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}
